li {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    list-style: none;
    background-color: red;
    color: white;
}

body {
    background-color: burlywood;
}

.aquamarineColor {
    background-color: aliceblue;
}

footer {
    background-color: grey;
    color: white;
    font-size: 24px;
}